/* Enter your custom styles here */

/* .demo {
    background-image: url("../Images/pma.png");
    background-size: cover;
    background-position: center center;
    height: 100%;
} */


.marginBtn {
    margin-left: 54rem !important;
}

.sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection:first-child:not(.sapUxAPObjectPageSectionNoTitle) {
    margin-top: 0px !important;
}

.slideInDown {
    animation: 1s ease-out 0s 1 slideInFromDown
}

@keyframes slideInFromDown {
    from {
        -webkit-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



